# Build
*.o
*.out
build

# CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts

Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# IDEs
.vs
.vscode
*.code-workspace

# Renders
out
*.mp4
*.tar
*.webm

# Uncatagorized
sph.py
encode.sh

# Submodules
stb/
