# Archives
*.gz
*.old
*.tar
archive/


# Build
*.o
*.out
build/

# Debugging
vgcore.*

# IDEs
.vs
.vscode
*.code-workspace

# Logs
*.log

# Profiling
*.ncu-proj
*.ncu-rep
*.nsight
*.nsight-cuproj
*.nsys-rep
*.profdata
*.profraw
perf.data

# Visualizations
*.mp4
*.pfm
*.webm
out/
